/* Styles for both mobile and web */
.card {
    width: 90vw !important; /* Card takes up 90% of viewport width */
    margin: 0 auto 20% !important; /* Add 20% margin at the bottom */
  }
  
  .img-post {
    width: auto !important; /* Images fill the entire width of their container */
    height: auto !important; /* Maintain aspect ratio */
  }
  
  .video {
    width: auto !important; /* Videos fill the entire width of their container */
    height: auto !important; /* Maintain aspect ratio */
  }
  
  .text-link {
    text-decoration: none !important; /* Remove underline from links */
  }
  
  .css-1pqm26d-MuiAvatar-img {
    margin: 1rem; /* Add margin around avatars */
  }
  
  .postado-por {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important; /* Center post information vertically */
  }
  
  .foto-post {
    width: 100% !important; /* Images fill the entire width of their container */
    height: auto !important; /* Maintain aspect ratio */
  }
  
  .card-post {
    margin-top: 2rem !important;
    width: 60vw !important; /* Card post takes up 90% of viewport width */
    border-radius: 8px !important;
    margin: 0 auto; /* Center card post horizontally */
    margin-bottom: 5vw;
    margin-left: -8vw;
    padding: 10px;
    padding-bottom: 5vw !important; /* Add padding at the bottom of the card post */
  }
  
  .avatar-post {
    margin-bottom: 20px !important; /* Add margin below avatar */
  }
  
  .post-text {
    word-break: break-all !important;
    text-align: center;
  }
  
  .pagination {
    justify-content: center !important;
    margin: 0 auto !important;
    margin-top: 2rem !important; /* Add margin at the top of the pagination */
  }
  
  .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff !important;
    background-color: rgb(228, 154, 58) !important; /* Change selected pagination item color */
  }
  
  /* Styles for mobile only */
  @media (max-width: 768px) {
    .card {
        width: 90vw !important; /* Card takes up 90% of viewport width */
        margin: 0 auto 20% !important; /* Add 20% margin at the bottom */
      
    }
    
    .card-post {
      padding-bottom: 10vw !important; /* Increase padding at the bottom of the card post */
    }
  }
  
  /* Styles for web only */
  @media (min-width: 769px) {
    .card {
      max-width: 768px !important; /* Card has a maximum width of 768px */
    }
  }
  