
.textLink{
    text-decoration: none !important;
    color: #fff !important;
    font-weight: bold;
}
.navbar{
    background-color: #4c0702 !important;
}
.logo{
    width: 40px;
    margin-left: -20px; 
    padding-left: 20px;

}

.css-1uwgr7b-MuiTypography-root{
    padding: 10px;
    color: black;
    border-radius: 10px;
    color: #000 !important;
    font-weight: bold !important;
    background-color: #8B2412;
}
.css-r8u8y9{
    background-color: #00000070 !important;
}
.css-1km1ehz{
    padding: 10px;
    color: black;
    border-radius: 10px;
    color: #000 !important;
    font-weight: bold !important;
    background-color: #8B2412;
}

.css-1km1ehz:hover{
    padding: 10px;
    border-radius: 10px;
    color: #000 !important;
    font-weight: bold !important;
    background-color: #4c0702 ;
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
    background-color: #00000070 !important;
}

.css-1uwgr7b-MuiTypography-root:hover{
    padding: 10px;
    border-radius: 10px;
    color: #000 !important;
    font-weight: bold !important;
    background-color: #4c0702 ;
}

.MuiButton-textPrimary{
    color: #fff;
}

.navbar{
    position: fixed !important;
    background-size: cover;
    z-index: 20;
}
.MuiButton-textPrimary {
    color: #fff !important;
}

.NavbarStyles.navbar{
    position: "static"
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
    z-index: 22;
    padding: 14px;
    margin: 10px;
    display: flex !important;
    flex-direction: column !important;
}
.titulo-sx{
    color: #fff !important;
}

.css-1uwgr7b-MuiTypography-root{
    color: #ffffff !important;
}
