

.img-perfil {
  width: 14vw !important;
    border-radius: 50% !important;
    position: sticky !important;
    z-index: 13;
    left: 50%;
    top: 50% !important;
    filter: drop-shadow(8px 10px 10px black);
    transform: translate(-50%, 20%)
}
.sem-foto{
  width: 14vw !important;
  height: auto !important;
  border-radius: 50% !important;
  position: sticky !important;
  z-index: 12;
  left: 50%;
  top: 50% !important;
  filter: drop-shadow(8px 10px 10px black);
  transform: translate(-50%, 20%);
}


.text-link{
    text-decoration: none;
}

.css-1fo2sjy-MuiButtonBase-root-MuiFab-root:hover{
  background-color: #c4632f;
}





.css-1l3umsk{
    border-radius: 50% !important;
    width: 4vw ;
    height: auto ;
    position: relative !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(80%, -290%);
    z-index: 13 !important;
    background-color: #46220f !important ;
  }
  
  
  .css-1l3umsk:hover{
  
    background-color: #c4632f !important;
  
  }



.css-1fo2sjy-MuiButtonBase-root-MuiFab-root{
    border-radius: 50% !important;
    width: 4vw ;
    height: auto ;
    position: relative !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(80%, -220%);
    z-index: 13 !important;
    background-color: #1565c0  ;
}
  

.header{
  min-height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.user-name{
  display: flex;
  justify-content: center;
  align-items: center;
      margin-top: 4%;


}  

hr{

    margin: 0;
    padding-top: -5vh;
}

.post-text{
    word-break: break-all;
    display: flex;
    justify-content: center;
}

.card-perfil{
    width: 60vw;
    padding: 2vw;
    margin: 1vw
}

.all-posts{
display: flex;
justify-content: center;
background-color: #8B2412;
color: white;
padding: 2vw;
margin: 0;

}

.post-date{
    display: flex;
    justify-content: center;
}

.post-location{
    display: flex;
    justify-content: center;
}
.fundoPerfil{
  background-color: #8B2412;
}
.header {
    background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
    background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
    background: linear-gradient(45deg, rgb(89 30 24) 0%,rgb(137 28 20) 29%,rgb(238 176 15) 66%,#ec36aa 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	/*min-height: calc(100vh - 2rem);*/
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;
	overflow: hidden;
	position: relative; 
}

.header::before, 
.header::after {
	content: "";
	width: 70vmax;
	height: 70vmax;
	position: absolute;
	background: rgba(255, 255, 255, 0.07);
	left: -20vmin;
	top: -20vmin;
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	z-index: 1;
	will-change: border-radius, transform;
	transform-origin: 55% 55%;
	pointer-events: none; 
}
	
.header::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%; 
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0 50%
	}
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
  100% {
    border-radius: 40% 60%; } 
}

@keyframes spin {
  to {
    transform: rotate(1turn); 
  } 
}
	.st0{display:none;}
	.st1{display:inline;}
	.st2{opacity:0.29;}
	.st3{fill:#FFFFFF;}
	.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
	.st5{clip-path:url(#SVGID_4_);}
	.st6{clip-path:url(#SVGID_6_);}
	.st7{clip-path:url(#SVGID_8_);}
	.st8{clip-path:url(#SVGID_10_);}
	.st9{fill:none;}
	.st10{clip-path:url(#SVGID_12_);}
	.st11{opacity:0.7;}
	.st12{clip-path:url(#SVGID_14_);}
	.st13{opacity:0.2;}
	.st14{clip-path:url(#SVGID_16_);}
	.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}