

.img-perfil{
    width: 60vw;
    border-radius: 50% !important;
    display: flex;
    margin-left: 7vw;
    margin-top: 10vh;
    margin-bottom: 0;

}
.text-link{
    text-decoration: none;
}

.css-1fo2sjy-MuiButtonBase-root-MuiFab-root:hover{
  background-color: #5a92d3 !important;
}

.css-1fo2sjy-MuiButtonBase-root-MuiFab-root{
    border-radius: 50% !important;
    width: 4vw !important;
    height: auto !important;
    z-index: 0 !important;
    margin-left: 30vw !important;
    margin-top: -18vh !important;
    background-color: #1565c0 !important;
  }
  

.header{
    row-gap: 5vw;
}

.user-name{
    margin-left: 4vw;
    width: 40vw !important;

}
hr{

    margin: 0;
    padding-top: -5vh;
}

.post-text{
    word-break: break-all;
}

.card-perfil{
    width: 60vw;
}

.all-posts{
margin-left: 42%;
}

.post-date{
    margin-left: -43vw !important;
    margin-top: 5vw !important;
}

.post-location{
    margin-left: -45vw !important;
}