.topo{
    margin-top: 20px;
}

.list-location{
    color: black !important;
}

.avatarpostagem .css-1pqm26d-MuiAvatar-img {
width: 38px!important;
height: 38px!important;
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}