.fundo-listaTemas{
    background-image: url('https://ik.imagekit.io/wwd7wv4ro/PDP_full_branco.png?updatedAt=1679053313611');

    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-x: center;
    width: 100%;
    padding: 20px 20px;
 }

.fundo-fundo{
    background-color: black;
}


 .cards{
    background-color: rgba(255, 255, 255, 0.685) !important;
    position: relative;
    background-color: rgba(255, 255, 255, 0.685) !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    display: flex;
    top: 50%;
    width: 50vw;
    margin-top: 50px;
    transform: translate(-50%, 10px);
    margin-bottom: 0;
   
 }

 .text-link{
    text-decoration: none;
 }
 .BoxButton{
   display: flex;
   justify-content: center;
   margin-left: 4vw;
 }
 .buttonTema{
   margin-left: 8px !important;
   margin-bottom:15px !important;
 }