.titulo-rodape{
    margin-left: 20% !important;
    color: white !important;
}

.footer .css-k01osk{
    background-color: #4c0702 !important;
}

.linkTree{
    width: 100px;
    margin-top: 10px;
}

.contato {
    color: white;
    flex-direction: column;
    display: flex;
    color: "white"
}