.titulo{
    text-align: center;
}

.imagem{
    size: 100vw;
}


 .botao{
    border-color: rgb(71, 50, 50) !important;
    background-color: white !important;
}
 .links{
    text-decoration: none;
 }

 .fundo{
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: rgb(255, 212, 171) !important;
 }
.new-post{
    position: fixed;  
    bottom: 3em;
    right: 3em;
    

}