@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.parallax {
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    margin-left: -25px;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    text-align: center;
    border-color: #000;
    border-width: 10px;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: #8B2412;
    padding: 100px;
    top: 147px;
    height: 650px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

p{
    text-align: center;
}

strong{
    color: black;
    font-weight: bold;
}

/* ********************************* */

.desenvolvedores {
    background-color: #8B2412;
    margin-top: 140px;
}

.integrantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.integrantes h3 {
	margin: 10px 0;
    
}

.integrantes h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

.integrantes p {
	font-size: 14px;
	line-height: 21px;
    
}

/* background-color: #4c0702; */
.card-container {
    background-color: #4c0702;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color:#fff;
    padding: 30px;
    position: relative;
    max-width: 100%;
    text-align: center;
    margin: 10px;
}

.card-container .round {
    border: 1px solid#fff;
    border-radius: 50%;
    padding: 7px;
    width: 150px;
    height: 150px;
}

button.primary {
    background-color:#fff;
    border: 1px solid#fff;
    border-radius: 3px;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

button.primary.ghost {
    background-color: transparent;
    color: #02899C;
}