
    
  .fundo-transparent{
    background-color:#635f59a6;
    border-radius: 10px;
    padding: 20px;
  }
  
  .text-link{
  text-decoration: none !important;
  color: #fff !important;
  }
  .MuiInputBase-input{
    color: #000 !important;
    background-color: #fff !important;
  }
  
.titulo-put-usuario{
    font-weight: bolder !important;
    letter-spacing: 1 !important;
}
  .cointainer{
    float: inline-start;
    width: 60vw !important;
    position: relative;
    left: 20vw;
  }
  
  .MuiInputBase-input{
    padding: 16px 10px 16px !important;
  }

  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
    font-weight: 550 !important;
    color: #000000af !important;
  }


  /* adição de comentario para que o git entenda alterações do codigo */