.fundoCadastro {
  background-image: url('https://i.imgur.com/d5bMdDJ.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
}
.body{
  padding: 0;
  margin: 0;
}

.fundo-transparent{
  background-color:#635f59e8;
  border-radius: 10px;
  padding: 20px;
}

.text-link{
text-decoration: none !important;
color: #fff !important;
}
.MuiInputBase-input{
  color: #000 !important;
  background-color: #fff !important;
}

.logo-cadastro{
  width: 30vw;
  margin-top: -8vh;
  margin-bottom: -5vh;
  margin-left: -5vh;
  color: white!important;
}
.helperText{
  font-size: 0.1em !important;
}

.MuiFormHelperText-root {
  color: rgb(249, 143, 5)!important;
  margin: 0;
  font-size: 0.75rem;
  margin-top: 3px;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}

.senha-confirma{
  margin-left: 2.5vw;
  margin-bottom: 15px;
  width: 60vw !important;
}

.MuiFormControl-root {
  border: 0;
  border-radius: 20px!important;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}
@media screen and (max-width: 900px){
  .css-l44j74 {
    width: 60vw;
    margin: -21vw;
    padding-right: 6vw !important;
    margin-top: 70px;
    margin-bottom: 0px;
    padding-top: 68px !important;
    padding-left: 6vw!important;
}
.logo-cadastro{
  margin-left: 14vw;
  width: 15em;
  margin-bottom: 0px;
}

}


@media screen and (max-width: 768px){
  .css-l44j74 {
    width: 60vw;
    padding-left: 30vw !important;
    margin: -21vw;
    padding-right: 0 !important;
    margin-top: 20vh;
    margin-bottom: 50vh;
    padding-top: 68px !important;
}
/* .buttons-cadastro{
  margin: 15px;
  display: flex;
} */
.button-cancelar{
  margin-left: -30px;}

.button-cadastrar{
  margin-right: -30px;
}
.senha-confirma{
  margin-left: 8vw;
  margin-bottom: 15px;
}
.logo-cadastro{
  margin-left: 2rem;
  width: 15em;
  margin-bottom: 0px;
}

form.form-cadastro{
  margin-right: 10%;
  margin-left: -40%
}
  .MuiGrid-justify-content-xs-center{
    justify-content: none !important;
  }

  .MuiFormControl-root{
    width: 60vw;
    margin-right: 90% !important;
    
  }
}