.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*                Ajustar a cor dos botoes de todo projeto               */
.MuiButton-containedPrimary {
  background-color: rgba(173, 121, 78, 0.753) !important;
  size: "small" !important;
  border-radius: 5px !important;
}

.MuiButton-containedSecondary {
  background-color: rgba(114, 42, 13, 0.753) !important;
  size: "small" !important;
  border-radius: 5px !important;
}
/* #################################################################### */

.MuiOutlinedInput-root {
  border-radius: 20px !important;
}

.MuiOutlinedInput-inputMarginDense {
  border-radius: 20px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
